*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat'
    
}

@font-face{
    font-family:'Montserrat';
    src:url('fonts/Montserrat-Medium.ttf') format(truetype)
}

a{
    text-decoration:none;
    display:inline-block;
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-image: linear-gradient(45deg,#348888,#22BABB,#9EF8EE)
}

main{
    background-color:#fff;
    padding:1rem;
    border-radius:10px;
    width: 60%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

#addTask{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
   justify-content: center;

}

#addTask div{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-radius: 14px;
   
}

#addTask a{
   
   
    padding:8px;
    background-color: #F24405;
    color:white;
    border-radius: 15px;
}

#addTask input{
    font-size:1.5rem;
    border:none;
    border-radius: 15px;
    padding:1%;
}